body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto
}

.row {
  margin: 0
}

h1 {
  margin: 0;
  padding: 0
}

#index {}

#index section {
  margin: 0;
  padding: 0
}

#index section .content {
  padding: 5% 0
}

#index section .section-title {
  padding: 2%
}

#index section .section-content {
  padding: 2%
}

#index #landing {}

#index #landing .logo-holder {
  padding: 12% 0
}

#index #landing .button-holder {
  padding: 8% 0
}

#index #about {}

#index #about p {
  font-size: 140%;
  margin: 0 auto;
  max-width: 800px
}

#index #contact {}

#index #contact #contacter-submit {
  width: 70%
}

#index #contact .card {
  padding: 5% 0
}

#thanks {}

#thanks section {}

#thanks section .section-content {
  padding: 2% 0
}

#thanks section .section-content .return-button {
  padding-top: 3%
}

#header {}

#header .brand-logo {
  height: 100%
}

#header .brand-logo img {
  height: 100%;
  width: auto
}

#footer {
  margin-top: 0
}
