#index
  & section
    margin: 0
    padding: 0

    & .content
      padding: 5% 0

    & h1
      margin: 0
      padding: 0

    & .row
      margin: 0

    & .section-title
      padding: 2%

    & .section-content
      padding: 2%

  & #landing
    & .logo-holder
      padding: 12% 0

    & .button-holder
      padding: 8% 0

  & #about
    & p
      font-size: 110%

  & #contact
    & #contacter-submit
      width: 60%

    & .card
      padding: 5% 0
