@import 'materialize-css/dist/css/materialize.css'

#index
  & section
    margin: 0
    padding: 0
    height: 100vh
    & h1
      margin: 0
      padding: 0
    &#landing
      background-image: url('/img/landing_cover_photo.jpg')
      background-repeat: no-repeat
      background-position: center
    & #about
